:root {
  --main-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #fff;
  --accent-color: #2196f3;
  --btn-hover-color: #188ce8;
  --main-bg: #fff;
  --second-bg: #2F303A;
  --third-bg: #F5F4FA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  letter-spacing: 0.03em;
  background-color: var(--main-bg);
}

body.no-scroll {
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.section {
  padding: 94px 0;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  padding: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-icon {
  margin-left: 10px;
}

.btn:hover,
.btn:focus {
  background-color: var(--btn-hover-color);
}

.visually-hidden { 
  position: absolute; 
  white-space: nowrap; 
  width: 1px; 
  height: 1px; 
  overflow: hidden; 
  border: 0; 
  padding: 0; 
  clip: rect(0 0 0 0); 
  clip-path: inset(50%); 
  margin: -1px; 
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.36;
  margin-bottom: 50px;
}

/* header */
.header {
  border-bottom: 1px solid #ECECEC;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation, .header-menu, .header-contacts {
  display: flex;
  align-items: center;
}

.header-menu__item, .header-contacts__item {
  margin-right: 50px;
}

.header-menu__item:last-of-type, .header-contacts__item:last-of-type {
  margin-right: 0;
}

.header-logo {
  padding: 24px 0;
  margin-right: 93px;
}

.header-logo .logo-second-word {
  color: var(--main-text-color);
}

.header-link {
  display: flex;
  align-items: center;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link__icon {
  margin-right: 10px;
}

.current {
  position: relative;
  color: var(--accent-color);
}

.current:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header-contacts .header-link {
  color: var(--second-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

/* banner */
.banner {
  max-width: 1600px;
  padding: 200px 0;
  margin: 0 auto;
  background-image: 
    linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), 
    url('../images/banner-bg.jpg');
  background-size: cover;
  background-position: center;
}

.banner-title {
  max-width: 696px;
  color: var(--third-text-color);
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  margin: 0 auto 30px auto;
}

.banner-btn {
  margin: 0 auto;
}

/* advantages */
.advantages {
  padding-bottom: 0;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
}

.advantage {
  width: calc(25% - 30px/4*3);
}

.advantage__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--third-bg);
  border-radius: 4px;
}

.advantage__title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
}

.advantage__text {
  color: var(--second-text-color);
  font-size: 14px;
  line-height: 1.71;
}

/* what-we-do */
.what-we-do {
  display: flex;
  justify-content: space-between;
}

.what-we-do__item {
  position: relative;
  width: calc(33.333% - 30px/3*2);
}

.what-we-do__item img {
  width: 100%;
}

.what-we-do__text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 10px;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  text-transform: uppercase;
  color: var(--third-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

/* team */
.team {
  background-color: var(--third-bg);
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-member {
  width: calc(25% - 30px/4*3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

.team-member__description {
  padding: 30px;
  background-color: var(--main-bg);
}

.team-member__title, 
.team-member__text {
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
}

.team-member__title {
  margin-bottom: 10px;
}

.team-member__text {
  color: var(--second-text-color);
  margin-bottom: 16px;
}

.team-member img {
  width: 100%;
}

.socials {
  display: flex;
  justify-content: center;
}

.socials__item {
  margin-right: 10px;
}

.socials__item:last-of-type {
  margin-right: 0;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover,
.socials__link:focus {
  background-color: var(--accent-color);
  fill: var(--third-text-color);
}

/* portfolio */
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item {
  margin-right: 8px;
}

.filter__item:last-of-type {
  margin-right: 0;
}

.filter__button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover,
.filter__button:focus {
  background-color: var(--accent-color);
  color: var(--third-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* clients */
.cleints-list {
  display: flex;
  justify-content: space-between;
}

.client {
  width: calc(100%/6 - 30px/6*5);
  height: 92px;
}

.client-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

/* projects */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.project {
  width: calc(33.333% - 30px/3*2);
}

.project-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-link:hover .project__info,
.project-link:focus .project__info {
  transform: translateY(0);
  visibility: visible;
}

.project__image-container {
  position: relative;
  overflow: hidden;
}

.project__info {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--third-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__text-container {
  padding: 20px 24px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;

}

.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project__text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--second-text-color);
}

/* footer */
.footer {
  padding: 60px 0;
  background-color: var(--second-bg);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer--left {
  display: flex;
  align-items: baseline;
}

.footer-contacts {
  margin-right: 70px;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-logo .logo-second-word {
  color: var(--third-text-color);
}

.address {
  font-style: normal;
}

.address-item {
  margin-bottom: 9px;
}

.address-item:last-of-type {
  margin-bottom: 0;
}

.address-link {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.location {
  color: var(--third-text-color);
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  color: var(--third-text-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer .socials__link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--third-text-color);
}

.socials__link:hover,
.socials__link:focus {
  background-color: var(--accent-color);
}

.subscribe {
  width: 570px;
}

.footer-form {
  width: 100%;
  display: flex;
}

.footer-form__input {
  flex: 1;
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  margin-right: 12px;
  background: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-form__input:focus {
  border-color: #fff;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
              visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  fill: currentColor;
}

.modal-close-btn:hover {
  color: var(--accent-color);
}

.modal-title {
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
}

.modal-form, .modal-label, .modal-label-title, .modal-input, .modal-icon {
  display: block;
}

.modal-label {
  position: relative;
  margin-bottom: 10px;
}

.modal-label-title {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  padding: 12px 16px 12px 42px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.modal-btn {
  margin: 0 auto;
}

.checkbox-label {
  display: flex;
  align-items: center;
  padding-left: 12px;
  margin: 20px 0 30px 0;
}

.checkbox-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.checkbox-input:checked + .checkbox-custom-box {
  background: var(--accent-color);
  border-color: transparent;
}

.checkbox-custom-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 1.5px solid var(--main-text-color);
  border-radius: 2px;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
              border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-custom-box:hover {
  border-color: var(--accent-color);
}

.checkbox-text {
  color: var(--second-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.checkbox-text a {
  color: var(--accent-color);
  text-decoration: underline;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}